@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$primary: #41ceef;
$secondary: #119cc1;
$dark: #333333;
$grey: #777777;
$light: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  color: $dark;

  .hidden {
    display: none;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__inner {
    background-color: $light;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.8px solid rgba(0, 0, 0, 0.1);
  }
  &__menu-button {
    background-color: $light;
    border: none;
    height: 44px;
    width: 44px;
  }
  &__menu-icon {
    padding: 6px;
    height: 44px;
    width: 44px;
    color: $dark;
    cursor: pointer;
  }
  &__logo {
    display: flex;
    align-items: center;
    padding: 9px 6px;
  }
  &__image {
    height: 26px;
  }
}

.navigation {
  z-index: 9;
  background-color: $light;
  height: calc(100vh - 70px);
  width: 176px;
  position: fixed;
  top: 70px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 18px;

  &__link {
    color: inherit;
    text-decoration: inherit;
    padding: 12px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;

    &:hover {
      transition: transform 0.5s;
      transform: translate(0, -2px);
    }

    &:first-child {
      background-color: $primary;
      color: $dark;
      margin-bottom: 12px;
      transform: translate(-4px, 0);
      padding: 12px 4px;
      margin-top: 20px;

      &:hover {
        transition: transform 0.5s, background-color 0.5s;
        background-color: #4ddafa;
        transform: translate(-4px, -2px);
      }
    }
  }

  &__icon {
    margin-right: 8px;
    height: 24px;
    width: 24px;
  }
}

.main {
  width: 100%;
  min-height: calc(100vh - 70px);
  max-width: 100%;
  margin-top: 70px;
  padding: 24px 18px;
}

.search-bar {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  &__input {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border: 1px solid $dark;
    border-right: none;
  }
  &__button {
    width: 36px;
    height: 36px;
    background-color: $primary;
    border: none;
    border-radius: 0 8px 8px 0;
    border: 1px solid $dark;
    border-left: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__icon {
    color: $secondary;
  }
}

.notes-page,
.archive-page {
  width: 100%;

  &__body {
    margin-top: 20px;
  }
}

.note-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.empty-notes {
  text-align: center;
  height: 66vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 56px;
  color: $dark;
  opacity: 50%;

  &__icon {
    color: $primary;
  }
}

.note-item {
  background-color: white;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translate(0, -3px);
    box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.1);
  }

  &__title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__body {
    margin-top: 8px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }

  &__footer {
    border-top: 0.8px solid rgba(0, 0, 0, 0.1);
    margin-top: auto;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    display: inline-block;
    font-size: 14px;
    color: $grey;
  }

  &__action {
    display: flex;
    justify-content: center;
  }

  &__archive-button,
  &__delete-button {
    width: 22px;
    height: 22px;
    border: none;
    margin-left: 8px;
    background-color: white;
    cursor: pointer;
    color: $grey;
    transition: color 0.3s;

    &:hover {
      color: $secondary;
    }
  }
}

@media screen and (min-width: 540px) {
  .note-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  #root {
    display: grid;
    grid-template-columns: 210px 1fr;
  }

  .header {
    position: fixed;
    width: 210px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    &__inner {
      border: none;
      display: block;
      width: 100%;
      padding: 30px 28px 12px;
    }

    &__logo {
      padding: 9px 0;
    }

    &__menu-button {
      display: none;
    }
  }

  .navigation {
    transition: none;
    height: calc(100vh - 86px);
    padding: 20px 28px;
    width: 100%;
    position: sticky;
    top: 86px;

    &__link {
      &:first-child {
        transform: translate(-10px, 0);
        padding: 12px 10px;
        margin-top: 0;

        &:hover {
          transform: translate(-10px, -2px);
        }
      }
    }
  }

  .main {
    margin-top: 0;
    min-height: 100vh;
    padding: 34px 6% 32px;
  }

  .search-bar {
    margin-top: 0;
    width: 300px;
  }

  .notes-page,
  .archive-page {
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__body {
      margin-top: 34px;
    }
  }

  .note-list {
    gap: 18px;
  }

  .empty-notes {
    height: 72vh;
  }
}

@media screen and (min-width: 1080px) {
  .note-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .note-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .note-list {
    gap: 22px;
  }
}

@media screen and (min-width: 1920px) {
  .note-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

